html{
  /*background-color: #999966;*/
  background-image: url("background.jpg");
 

}
h1{
  color:whitesmoke;
  margin:30px;
}
nav{
  /*background-color:white;*/
  height: 20px;
  padding-bottom: 10px;
  text-align:right;
  padding-top:20px;
}
.navig a{
  color:white;
  text-decoration: none;
  margin-left:20px;
  margin-right:50px;
  padding-top:20px;
}
.navig a:hover{
  background-color:blueviolet;
}
h2 { 
  width:100%;
  text-align:center; 
  border-bottom: 1px solid white; 
  line-height:20px;
  margin:9px 0 18px; 
} 
h2 span { 
  /*background:#fff; */
  padding:10px; 
}
img{
  float:left;
  margin:14px;
}
h2{
  text-align:center;
  color:white;
}
.details{
  text-align:center;
  color:white;
  font-style:italic;
}
div .middle{
  text-align:center;
}
.project a{
  color:white;
}
.created a{
  color:purple;
}
.first{
  color:blueviolet;
}
footer { 
 
 /* border-radius: 50%;
  background-color:white; */
  color: white;
  margin-top: 50px;
  text-align:center;
}
footer i{
  font-size:20px;

}
.icon a{
  font-size:20px;
  color:white; 
  padding:20px;
  text-align:center;
}

#project a:hover{
  color:green;
} 

#email a{
  color:white;
} 
#email p{
 color:white;
 text-align:center;
 padding:20px;
}


